<div>

    <h4 translate="fimepedApp.vitalSign.home.title">VitalSigns</h4>
    <jh-alert></jh-alert>
	 <form name="editFormVitalSign" role="form" ng-submit="save()">
	
	  
	    <div class="row">	       
	
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.bloodPressure" for="field_bloodPressure">BloodPressure</label>
	            <input type="text" class="form-control" name="bloodPressure" id="field_bloodPressure"
	                    ng-model="vitalSign.bloodPressure">
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.heartRate" for="field_heartRate">HeartRate</label>
	            <input type="number" class="form-control" name="heartRate" id="field_heartRate"
	                    ng-model="vitalSign.heartRate"
	                    >
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.breathingFrecuency" for="field_breathingFrecuency">BreathingFrecuency</label>
	            <input type="number" class="form-control" name="breathingFrecuency" id="field_breathingFrecuency"
	                    ng-model="vitalSign.breathingFrecuency"
	                    >
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.oralTemperature" for="field_oralTemperature">OralTemperature</label>
	            <input type="number" class="form-control" name="oralTemperature" id="field_oralTemperature"
	                    ng-model="vitalSign.oralTemperature"
	                    >
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.axillaryTemperature" for="field_axillaryTemperature">AxillaryTemperature</label>
	            <input type="number" class="form-control" name="axillaryTemperature" id="field_axillaryTemperature"
	                    ng-model="vitalSign.axillaryTemperature"
	                    >
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.weight" for="field_weight">Weight</label>
	            <input type="number" class="form-control" name="weight" id="field_weight"
	                    ng-model="vitalSign.weight">
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.size" for="field_size">Size</label>
	            <input type="number" class="form-control" name="size" id="field_size"
	                    ng-model="vitalSign.size"
	                    >
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.headCircumference" for="field_headCircumference">HeadCircumference</label>
	            <input type="number" class="form-control" name="headCircumference" id="field_headCircumference"
	                    ng-model="vitalSign.headCircumference"
	                    >
	
	        </div>
	        <div class="col-md-2 form-group">
	            <label class="label-height" translate="fimepedApp.vitalSign.bodyMass" for="field_bodyMass">BodyMass</label>
	            <input type="number" class="form-control" name="bodyMass" id="field_bodyMass"
	                    ng-model="vitalSign.bodyMass"
	                    >
	
	        </div>	       
	    </div>
	    <div class="row">
	    	<div class="pull-right">
		        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
		            <span class="glyphicon glyphicon-file"></span>&nbsp;<span translate="entity.action.new">Nuevo</span>
		        </button>
		        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-default">
		            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Guardar</span>
		        </button>
	        </div>
	    </div>
	</form>

    <div class="modal fade" id="deleteVitalSignConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(vitalSign.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="fimepedApp.vitalSign.delete.question" translate-values="{id: '{{vitalSign.id}}'}">Are you sure you want to delete this VitalSign?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
        	<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">
			<col style="width: 10%">						
            <thead>
                <tr>                   
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.bloodPressure">BloodPressure</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.heartRate">HeartRate</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.breathingFrecuency">BreathingFrecuency</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.oralTemperature">OralTemperature</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.axillaryTemperature">AxillaryTemperature</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.weight">Weight</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.size">Size</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.headCircumference">HeadCircumference</span></div></th>
                    <th class ="rotate"><div><span translate="fimepedApp.vitalSign.bodyMass">BodyMass</span></div></th>                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vitalSign in vitalSigns">                   
                    <td>{{vitalSign.bloodPressure}}</td>
                    <td>{{vitalSign.heartRate}}</td>
                    <td>{{vitalSign.breathingFrecuency}}</td>
                    <td>{{vitalSign.oralTemperature}}</td>
                    <td>{{vitalSign.axillaryTemperature}}</td>
                    <td>{{vitalSign.weight}}</td>
                    <td>{{vitalSign.size}}</td>
                    <td>{{vitalSign.headCircumference}}</td>
                    <td>{{vitalSign.bodyMass}}</td>                   
                    <td>                        
                        <button type="submit"
                                ng_click="loadVitalSign(vitalSign)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(vitalSign.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
