<div>
	<h2 translate="fimepedApp.search.title">Buscar Historia Clinica</h2>
	<jh-alert></jh-alert>	
	<div class="table-responsive">
		<table id="table-search" class="table table-striped" width="100%">
			<col style="width: 10%">
			<col style="width: 20%">
			<col style="width: 20%">
			<col style="width: 20%">
			<col style="width: 20%">
			<col style="width: 10%">
			<thead>
				<tr>
					<th translate="global.field.id">ID</th>
					<th translate="fimepedApp.search.lbl_first_name">PrimerNombre</th>
					<th translate="fimepedApp.search.lbl_second_name">SegundoNombre</th>
					<th translate="fimepedApp.search.lbl_paternal_surname">ApellidoPaterno</th>
					<th translate="fimepedApp.search.lbl_maternal_surname">ApellidoMaterno</th>
					<th translate="fimepedApp.search.lbl_cedula">Cedula</th>
				</tr>
				<tr>
					<th><input style="width: 100%" type="text" ng-model="id" ng-blur="search()" /></th>
					<th><input style="width: 100%"  type="text" ng-model="firstName" ng-blur="search()" /></th>
					<th><input style="width: 100%"  type="text" ng-model="secondName" ng-blur="search()" /></th>
					<th><input style="width: 100%"  type="text" ng-model="paternalSurname" ng-blur="search()" /></th>
					<th><input style="width: 100%"  type="text" ng-model="maternalSurname" ng-blur="search()" /></th>
					<th><input style="width: 100%"  type="text" ng-model="cedula" ng-blur="search()" /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="clinicHistory in clinicHistorys">				
					<td><a ui-sref="fichas.form({historyId:clinicHistory.id})">{{clinicHistory.id}}</a></td>
					<td>{{clinicHistory.person.firstName}}</td>
					<td>{{clinicHistory.person.secondName}}</td>
					<td>{{clinicHistory.person.paternalSurname}}</td>
					<td>{{clinicHistory.person.maternalSurname}}</td>
					<td>{{clinicHistory.person.cedula}}</td>
				</tr>
			</tbody>
		</table>
		<nav>
			<ul class="pagination">
				<li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
				<li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
				<li ng-show="page > 2" ng-click="loadPage(page - 2)">
					<a>{{page - 2}}</a>
				</li>
				<li ng-show="page > 1" ng-click="loadPage(page - 1)">
					<a>{{page - 1}}</a>
				</li>
				<li class="active"><a>{{page}}</a></li>
				<li ng-show="page < links['last']" ng-click="loadPage(page + 1)">
					<a>{{page + 1}}</a>
				</li>
				<li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)">
					<a>{{page + 2}}</a>
				</li>
				<li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
				<li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
			</ul>
		</nav>
	</div>	
</div>