<div>
	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
	                ng-click="clear()">&times;</button>
	        <h4 class="modal-title" id="myVitalSignLabel" translate="fimepedApp.graphics.lbl_length_height">Longitud/Altura</h4>
	</div>
	
	<div class="modal-body">
		<div ng-init="initData()">
			     <label for="selectChartType" translate="fimepedApp.graphics.lbl_graphic"> Gráfica: </label>
			    <select name='selectChartType' data-ng-model='selectChartType'  data-ng-change="changeChartType()">
			        <option value='Z'>Z-Scores</option>
			        <option value='P'>Percentiles</option>
			    </select>
			
			    <div>
			        <div class="row">
			            <highchart id="chartLengthHeight" config="chart_length_height_fa"></highchart>
			        </div>     
			    </div>     
		</div>
	</div>

 	<div class="modal-footer">	       
	</div>
</div>