
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myClinicHistoryLabel" translate="fimepedApp.clinicHistory.home.createOrEditLabel">Create or edit a ClinicHistory</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="clinicHistory.id" readonly>
        </div>

        <div class="form-group">
            <label translate="fimepedApp.clinicHistory.createDate" for="field_createDate">CreateDate</label>
            <input type="date" class="form-control" name="createDate" id="field_createDate"
                    ng-model="clinicHistory.createDate"
                    >

        </div>
        <div class="form-group">
            <label translate="fimepedApp.clinicHistory.clinic_add_inf" for="field_clinic_add_inf">clinic_add_inf</label>
            
            <select class="form-control" id="field_clinic_add_inf" name="clinic_add_inf" ng-model="clinicHistory.clinic_add_inf" ng-options="clinicHistoryAddInf as clinicHistoryAddInf.id for clinicHistoryAddInf in clinic_add_infs | orderBy:'id' track by clinicHistoryAddInf.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="fimepedApp.clinicHistory.person" for="field_person">person</label>
            
            <select class="form-control" id="field_person" name="person" ng-model="clinicHistory.person" ng-options="person as person.id for person in persons track by person.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
